/* Base */

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #555;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
    color: #000;
    line-height: 1;
}

h1,
.h1{
    font-size: 3.1rem;
}

h2,
.h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

h3,
.h3 {
    font-size: 1.9rem;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

li{
    margin-bottom: 1rem;
}

.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

.category{
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    color: #5b6c78;
}

.container{
    padding: 1rem 2rem;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid__item{
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1rem;
}


@media screen and (min-width:750px) {
    .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 2rem;
    }
}

/* Sections */

section{
    padding: 5.5rem 0;
}


.section_header {
    text-align: center;
}

.header{
    background: #fff;
    border-bottom: 1px solid #eee;
    position: sticky;
    z-index: 1;
    top: 0;
}

.header .logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
}

.navbar{
    display: none;
}

.header li{
    display: inline-flex;
    align-items: center;
    padding: 0 .5rem;
}

.header a{
    color: #333;
}
.header a:hover {
    color: red;
}

.header .right {
    display: flex;
    align-items: center;
}
 
.social{
    display: flex;
}

.social li {
    margin-bottom: 0;
    padding: 0 5px;
}

.social .icon{
    height: 18px;
}

.bugger{
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
}

.bugger .bar{
    display: block;
    width: 22px;
    height: 3px;
    background: #333;
}

.bugger .bar::before,.bugger .bar::after{
    display: block;
    content:""; 
    width: 22px;
    height: 3px;
    background:#333;
    position: absolute;
}

.bugger .bar::before{
    transform:  translateY(-8px);
}
.bugger .bar::after{
    transform: translateY(8px);
}

@media screen and (max-width:749px) {   /* Écran de téléphone */
    
}

@media screen and (min-width:750px) {   /* Écran d'ordinateur */
    .navbar{
        display: flex;
    }
    .bugger{
        display: none;
    }
}

.hero{
    background: #5b6c78;
    color: #fff;
    padding: 1rem 0 0 0;
}

.hero h1{
    color: inherit;
    font-size: 4rem;
    margin: 1.6rem 0 0 0;
}

.hero__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__item.left {
    animation-duration: 1s;
    animation-name: SlideInLeft;
}
.hero__item.right {
    animation-duration: 1s;
    animation-name: SlideInRight;
}

@media screen and (max-width:749px) {   /* Écran de téléphone */
    .hero__item.left{
        order: 2;
    }
    .hero__item.right{
        order: 1;
        padding: 5rem;
    }
}


@media screen and (min-width:750px) {   /* Écran d'ordinateur */
    .hero__item {
        flex: 1 0 50%;
        align-items: flex-start;
        text-align: left;
    }
    .hero h1 {
        font-size: 5rem;
    }
    .hero__avatar img {
        max-width: 400px;
        border-radius: 50%;
    }
    .hero__item.right{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

.About{
    padding: 0 0 0 0;
}

.About .title{
    text-transform: uppercase;
}

.About__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.About__item img{
    max-width: 400px;
    max-height:  500px;
}

@media screen and (max-width:749px) { /* Écran de téléphone */
    .About__item {
        /*align-items: flex-start;*/
        text-align: center;
    }
}


@media screen and (min-width:750px) {   /* Écran d'ordinateur */
    .About__item {
        flex: 1 0 50%;
        align-items: flex-start;
        text-align: left;
    }

    .About__item.left{
        align-items: center;
        /*padding: 7rem;*/ 
    }

    .About__item.right {
        display: flex;
        justify-content: center;
    }
   
}

.Services {
    background: #f5f5f5;
}

.service__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    /*margin: 0 auto;*/
    border: 2px solid #000000;
    border-radius: 50%;
}

.service__img svg{
    height: 35px;
}

.service__content{
    flex: 1;
}

.service h3{
    margin-bottom: 0;
}

@media screen and (max-width:749px) {   /* Écran de téléphone */
    .service {
        text-align: center;
    }
    .service__img{
        margin: 0 auto;
    }
}


@media screen and (min-width:750px) {   /* Écran d'ordinateur */
    .service{
        display: flex;
        align-items: center;
    }
    .Services__grid{
        display: flex;
    }
    .Services__item {
        flex: 1 0 50%;
        align-items: flex-start;
        text-align: left;
    }
    .service__img{
        margin-right: 2rem;
    }

    
}

.Skills h4, .Skills p{
    margin: 0 0 .3rem;
}

.Skills li {
    background-color: #f5f5f5;
    border-left: 3px solid rgb(91, 107, 120) ;
    padding: .9rem 2rem;

}

.Skills .progressBar{
    background: #f5f5f5;
    color: #fff;
    margin-bottom: 1rem;
}

.Skills .bar{
    background: #5b6c78;
    padding: 1rem;
}

@media screen and (max-width:749px) {   /* Écran de téléphone */

}


@media screen and (min-width:750px) {   /* Écran d'ordinateur */
    .Skills__grid{
        display: flex;
    }

    .Skills__item{
        display: block;
    }

    .Skills__item.left {
        width: 50%;
        border-right: #fff solid 20px;
    }
    .Skills__item.right{
        width: 50%;
    }
}

.Portofolio {
    background: #f5f5f5;
    display: flex;
}

.Portofolio .grid__item {
    max-width: 50%;
    margin-bottom: 0;
}

.Portofolio-filter .grid__item{
    max-width: 50%;
    margin-bottom: 0;
}

.Portofolio-filter a{
    color: #333;
    background: #eee;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
}

.Portofolio-filter a.active {
    color: #fff;
    background: #5b6c78;
}

.card{
    background: #fff;
    text-transform: uppercase;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    border: 1px solid #eee;
}

.card__inner {
    padding: 2rem;
}

.card__title{
    margin: 0 0 1rem;
    font-size: 1.6rem;
}

.card__overlay {
    font-size: 5rem;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;   /* Masque le Overlay*/
}

.card__overlay a {
    color: #fff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width:749px) {
    /* Écran de téléphone */
    .Portofolio-filter a {
       font-size: 1.4rem;
    }
}


@media screen and (min-width:750px) {
    /* Écran d'ordinateur */
    .Portofolio-filter .grid__item {
        max-width: 25%;
    }
    .Portofolio .grid__item{
        max-width: 33.33%;
    }
}

.form {
    max-width: 800px;
    margin: 4rem auto 0 auto;
}

.form input, .form textarea{
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom:  2rem;
}

.form textarea{
    min-height: 200px;
}

.form .btn{
    border: none;
    background: #333;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}

.form .btn:hover{
    cursor: pointer;
    background: #000;
}

footer {
    background: #000;
    color: #eee;
    text-align: center;
    font-size: 1.4rem;
}
footer .grid{
    align-items: center;
}

footer p{
    margin: 0;
}

footer .social {
    text-align: center;
    justify-content: center;
}

footer .social li{
    padding: 0 0.7rem;
}

footer .social a{
    padding: 1rem;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    transition: all 0.4s;
}

footer .social a:hover {
    background: #333;
    border-radius: 50%;
}

@media screen and (max-width:749px) {    /* Écran de téléphone */

}


@media screen and (min-width:750px) {    /* Écran d'ordinateur */
    footer{
        text-align: left;
    }
    footer .grid__item{
        max-width: 33.33%;
    }
    footer .grid__item.left {
        text-align: center;
    }
}

/*Animation CSS*/

@keyframes SlideInLeft {
    from{
        transform: translateX(-110%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes SlideInRight {
    from {
        transform: translateX(110%);
    }

    to {
        transform: translateX(0);
    }
}