/* Base */

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    color: #555;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
    color: #000;
}

h1,
.h1{
    font-size: 3.1rem;
}

h2,
.h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

h3,
.h3 {
    font-size: 1.9rem;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    padding: 1rem 2rem;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.grid__item{
    width: 100%;
}


@media screen and (min-width:750px) {
    .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 2rem;
        }
}

/* Sections */

section{
    padding: 5.5rem 0;
}

@media screen and (max-width:749px) {   /* Écran de téléphone */
    .section_header {
        text-align: center;
    }
}

.header{
    background: #fff;
    border-bottom: 1px solid #eee;
}

.header .logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
}

.navbar{
    display: none;
}

.header li{
    display: inline-flex;
    align-items: center;
    padding: 0 .5rem;
}

.header a{
    color: #333;
}
.header a:hover {
    color: red;
}

.header .right {
    display: flex;
    align-items: center;
}
 
.social{
    display: flex;
}

.social li {
    padding: 0 5px;
}

.social .icon{
    height: 18px;
}

.bugger{
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
}

.bugger .bar{
    display: block;
    width: 22px;
    height: 3px;
    background: #333;
}

.bugger .bar::before,.bugger .bar::after{
    display: block;
    content:""; 
    width: 22px;
    height: 3px;
    background:#333;
    position: absolute;
}

.bugger .bar::before{
    transform:  translateY(-8px);
}
.bugger .bar::after{
    transform: translateY(8px);
}

@media screen and (max-width:749px) {   /* Écran de téléphone */
    
}

@media screen and (min-width:750px) {   /* Écran d'ordinateur */
    .navbar{
        display: flex;
    }
    .bugger{
        display: none;
    }
}

.hero{
    background: #5b6c78;
    color: #fff;
    padding: 1rem 0 0 0;
}

.hero h1{
    color: inherit;
    font-size: 4rem;
    margin: 1.6rem 0 0 0;
}

.hero__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width:749px) {   /* Écran de téléphone */
    .hero__item.left{
        order: 2;
    }
    .hero__item.right{
        order: 1;
        padding: 5rem;
    }
}


@media screen and (min-width:750px) {   /* Écran d'ordinateur */
    .hero__item {
        flex: 1 0 50%;
        align-items: flex-start;
        text-align: left;
    }
    .hero h1 {
        font-size: 5rem;
    }
    .hero__avatar img {
        max-width: 400px;
        border-radius: 50%;
    }
    .hero__item.right{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

.About .title{
    text-transform: uppercase;
}

.About__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width:749px) { /* Écran de téléphone */
    .About__item {
        align-items: flex-start;
        text-align: center;
    }
}


@media screen and (min-width:750px) {   /* Écran d'ordinateur */
    .About__item {
        flex: 1 0 50%;
        align-items: flex-start;
        text-align: left;
    }

    .About__item.left{
        align-items: center;
        padding: 7rem;
    }

    .About__item.right {
        display: flex;
        justify-content: center;
    }
   
}